@let filter = filter$ | async;
<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <div class="d-flex align-items-center gap-1">
      <span> Filters </span>
      @if (filter) {
      <span class="badge text-bg-primary" role="button">
        {{
          (filter.generations?.length ?? 0) +
            (filter.types?.length ?? 0) +
            (filter.search ? 1 : 0)
        }}
      </span>
      <span role="button" (click)="clearFilters()">
        <img src="/icons/dust.png" height="20" title="Clear filters" />
      </span>
      }
    </div>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarFilters"
      aria-controls="navbarFilters"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div
      class="collapse navbar-collapse justify-content-center"
      id="navbarFilters"
    >
      <ul class="navbar-nav mb-2 mb-lg-0">
        <li class="nav-item p-2 d-flex align-items-center">
          <div class="form-check form-switch">
            <input
              class="form-check-input"
              role="button"
              type="checkbox"
              id="shinySwitch"
              [(ngModel)]="shiny"
            />
            <label class="form-check-label" for="shinySwitch">
              Show Shiny
            </label>
          </div>
        </li>
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            href="#"
            role="button"
            data-bs-toggle="dropdown"
            data-bs-auto-close="outside"
            aria-expanded="false"
          >
            Generations
          </a>
          <ul class="dropdown-menu">
            @for (gen of generations; track $index) {
            <li>
              <a
                class="dropdown-item"
                (click)="addGenerationFilter(gen.symbol)"
                [class.active]="filter?.generations?.includes(gen.symbol)"
                >{{ gen.name }}</a
              >
            </li>
            }
            <!-- <li><hr class="dropdown-divider"></li> -->
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            href="#"
            role="button"
            data-bs-toggle="dropdown"
            data-bs-auto-close="outside"
            aria-expanded="false"
          >
            Types
          </a>
          <ul class="dropdown-menu">
            @for (type of types; track $index) {
            <li>
              <a
                class="dropdown-item"
                (click)="addTypeFilter(type.name)"
                [class.active]="filter?.types?.includes(type.name)"
                >{{ type.name | titlecase }}</a
              >
            </li>
            }
          </ul>
        </li>
        <!-- <li class="nav-item">
          <a class="nav-link disabled" aria-disabled="true">Disabled</a>
        </li> -->
      </ul>
      <form class="d-flex" role="search">
        <input
          class="form-control me-2"
          type="search"
          placeholder="Search"
          aria-label="Search"
          [(ngModel)]="search"
          [ngModelOptions]="{ standalone: true }"
        />
        <!-- <button
          class="btn btn-outline-success"
          type="button"
          (click)="applyFilter()"
        >
          <img src="/icons/go.png" alt="Go" height="40" />
        </button> -->
      </form>
    </div>
  </div>
</nav>
