<app-pokemon-navbar
  (onFilterChange)="search($event)"
  (onShinyChange)="shiny = $event"
></app-pokemon-navbar>
<div class="p-2 d-flex justify-content-center flex-wrap gap-3">
  @for (pokemon of pokemons; track $index) {
  <button
    class="card text-center d-flex flex-row align-items-center"
    style="width: 25rem"
    [ngStyle]="getCardStyle(pokemon)"
    (click)="selectPokemon(pokemon)"
  >
    <span style="width: 4rem">{{ pokemon.id | padNumber }}</span>
    <img
      [src]="
        shiny
          ? pokemon.pokemonsprites[0].sprites.front_shiny
          : pokemon.pokemonsprites[0].sprites.front_default
      "
      [alt]="pokemon.name"
      style="width: 4rem"
    />
    <h6 class="card-title" style="width: 9rem">
      {{ pokemon.name | titlecase }}
    </h6>
    <div class="d-flex gap-1 justify-content-center mb-2">
      @for (type of pokemon.pokemontypes; track $index) {
      <span
        class="badge text-capitalize"
        [ngStyle]="{
          'background-color': type.type.name | typeColor,
          color: '#fff'
        }"
        >{{ type.type.name }}</span
      >
      }
    </div>
  </button>
  }
</div>
