<app-pokemon-navbar
  (onFilterChange)="search($event)"
  (onShinyChange)="shiny = $event"
></app-pokemon-navbar>
  <div id="smoobuCalendarIframe">  <link rel="stylesheet" type="text/css" href="https://login.smoobu.com/css/singleCalendarWidgetIframe.css">  <iframe class="smallDevices" height="540px" width="280px" src="https://login.smoobu.com/it/cockpit/widget/show-calendar-iframe/3077711/40cb771ce71fe70f46361f869cf62d24a1ca6d878979f30c474be2be1024ee98"></iframe>  <iframe class="bigDevices" height="600px" width="1000px" src="https://login.smoobu.com/it/cockpit/widget/show-calendar-iframe/3077711/40cb771ce71fe70f46361f869cf62d24a1ca6d878979f30c474be2be1024ee98"></iframe></div>

<div class="p-2 d-flex justify-content-center flex-wrap gap-3">
  @for (pokemon of pokemons; track $index) {
  <button
    class="card text-center d-flex flex-row align-items-center"
    style="width: 25rem"
    [ngStyle]="getCardStyle(pokemon)"
    (click)="selectPokemon(pokemon)"
  >
    <span style="width: 4rem">{{ pokemon.id | padNumber }}</span>
    <img
      [src]="
        shiny
          ? pokemon.pokemonsprites[0].sprites.front_shiny
          : pokemon.pokemonsprites[0].sprites.front_default
      "
      [alt]="pokemon.name"
      style="width: 4rem"
    />
    <h6 class="card-title" style="width: 9rem">
      {{ pokemon.name | titlecase }}
    </h6>
    <div class="d-flex gap-1 justify-content-center mb-2">
      @for (type of pokemon.pokemontypes; track $index) {
      <span
        class="badge text-capitalize"
        [ngStyle]="{
          'background-color': type.type.name | typeColor,
          color: '#fff'
        }"
        >{{ type.type.name }}</span
      >
      }
    </div>
  </button>
  }
</div>
