@if (pokemon) {
<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <div class="d-flex align-items-center gap-1">
      <button class="btn d-flex align-items-center gap-2" (click)="back()">
        <img src="/icons/back.png" height="20" title="Back" />
        <span> Back to Pokemon list </span>
      </button>
    </div>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarPokemon"
      aria-controls="navbarPokemon"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div
      class="collapse navbar-collapse justify-content-center"
      id="navbarPokemon"
    >
      <div class="d-flex align-items-center gap-1">
        <h1>{{ pokemon.id | padNumber }} {{ pokemon.name | uppercase }}</h1>
      </div>
    </div>
  </div>
</nav>

<div class="container-fluid p-2">
  <div class="row mb-1">
    <div class="col-12 col-lg-4">
      <div class="card">
        <img
          [src]="
            pokemon.pokemonsprites[0].sprites.other['official-artwork']
              .front_default ?? pokemon.pokemonsprites[0].sprites.front_default
          "
          class="card-img-top w-50 mx-auto"
          [alt]="pokemon.name"
        />
        <div class="card-body">
          @if (pokemon.pokemonspecy.pokemonspeciesflavortexts.length) {
          <p class="card-text">
            {{ pokemon.pokemonspecy.pokemonspeciesflavortexts[0].flavor_text }}
          </p>
          }
          <div class="d-flex flex-wrap mx-auto gap-3 justify-content-center">
            @if (pokemon.pokemonsprites[0].sprites.front_default) {
            <div class="card" style="width: 100px">
              <img
                class="card-img-top"
                [src]="pokemon.pokemonsprites[0].sprites.front_default"
                alt="default"
              />
              <div class="card-body">Default</div>
            </div>
            } @if (pokemon.pokemonsprites[0].sprites.front_female) {
            <div class="card" style="width: 100px">
              <img
                class="card-img-top"
                [src]="pokemon.pokemonsprites[0].sprites.front_female"
                alt="female"
              />
              <div class="card-body">Female</div>
            </div>
            } @if (pokemon.pokemonsprites[0].sprites.front_shiny) {
            <div class="card" style="width: 100px">
              <img
                class="card-img-top"
                [src]="pokemon.pokemonsprites[0].sprites.front_shiny"
                alt="shiny"
              />
              <div class="card-body">Shiny</div>
            </div>
            } @if (pokemon.pokemonsprites[0].sprites.front_shiny_female) {
            <div class="card" style="width: 100px">
              <img
                class="card-img-top"
                [src]="pokemon.pokemonsprites[0].sprites.front_shiny_female"
                alt="shiny female"
              />
              <div class="card-body">Shiny Female</div>
            </div>
            }
          </div>
        </div>
      </div>
    </div>
    <div class="col-12 col-lg-4">
      <div class="card">
        <div class="card-body">
          <div class="row">
            <div class="col">
              <h3>Height</h3>
              <p>{{ pokemon.height | divide : 10 }} m</p>
            </div>
            <div class="col">
              <h3>Weight</h3>
              <p>{{ pokemon.weight | divide : 10 }} kg</p>
            </div>
          </div>
          <div class="row">
            <h3>Abilities</h3>
            @for (ability of pokemon.pokemonabilities; track $index) {
            <div class="col">
              <div class="d-flex gap-2">
                <p>
                  {{ ability.ability.name }}
                </p>
                <i
                  class="bi bi-info-circle"
                  data-bs-toggle="tooltip"
                  data-bs-placement="top"
                  [ngbTooltip]="ability.ability.abilityeffecttexts[0].effect"
                ></i>
              </div>
            </div>
            }
          </div>
          <div class="row">
            <h3>Cries</h3>
            @if(pokemon.pokemoncries[0].cries.latest) {
            <div class="col">
              <div class="d-flex gap-2">
                <p>Latest</p>
                <i
                  role="button"
                  (click)="playCry(pokemon.pokemoncries[0].cries.latest)"
                  class="bi bi-fast-forward-circle"
                ></i>
              </div>
            </div>
            } @if (pokemon.pokemoncries[0].cries.legacy) {
            <div class="col">
              <div class="d-flex gap-2">
                <p>Legacy</p>
                <i
                  role="button"
                  (click)="playCry(pokemon.pokemoncries[0].cries.legacy)"
                  class="bi bi-fast-forward-circle"
                ></i>
              </div>
            </div>
            }
          </div>
          <div class="row">
            <h3>Types</h3>
            @for (type of pokemon.pokemontypes; track $index) {
            <p
              class="w-25 badge text-capitalize mx-1"
              [ngStyle]="{
                'background-color': type.type.name | typeColor,
                color: '#fff'
              }"
            >
              {{ type.type.name }}
            </p>
            }
          </div>
          <div class="row">
            <div class="col">
              <h3>Capture Rate</h3>
              <p>{{ pokemon.pokemonspecy.capture_rate }}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-12 col-lg-4">
      <div class="card">
        <div class="card-body">
          <div class="row">
            <h3>Weakness and Resistances</h3>
            @for (weakness of weaknesses; track $index) {
            <div class="col-2">
              <span>{{ weakness[0] }}</span>
            </div>
            <div class="col-10 d-flex flex-wrap mb-4">
              @for (type of weakness[1]; track $index) {
              <p
                class="w-25 badge text-capitalize mx-1"
                [ngStyle]="{
                  'background-color': type | typeColor,
                  color: '#fff'
                }"
              > 
                {{ type }}
              </p>
              }
            </div>
            }
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row mb-1">
    <div class="col-12 col-md-6">
      <div class="card">
        <div class="card-body">
          <h3>Base stats</h3>
          @for (stat of pokemon.pokemonstats; track $index) {
          <div class="row">
            <div class="col-12 col-lg-3">
              <span>{{ stat.stat.name }}</span>
            </div>
            <div class="col-12 col-lg-9">
              <div
                class="progress"
                role="progressbar"
                [aria-label]="stat.base_stat"
                [aria-valuenow]="stat.base_stat"
                [aria-valuemin]="0"
                [aria-valuemax]="255"
              >
                <div
                  class="progress-bar text-bg-warning"
                  [style.width.%]="(stat.base_stat / 255) * 100"
                >
                  {{ stat.base_stat }}
                </div>
              </div>
            </div>
          </div>

          }
        </div>
      </div>
    </div>
    <div class="col-12 col-md-6">
      <div class="card">
        <div class="card-body">
          <h3>Other Forms</h3>
          <div class="d-flex flex-wrap mx-auto gap-3 justify-content-center">
            @for (other of pokemon.pokemonspecy.pokemons; track $index) { @if
            (other.pokemonsprites[0].sprites.front_default) {
            <div class="card" style="width: 100px">
              <img
                class="card-img-top"
                [src]="other.pokemonsprites[0].sprites.front_default"
                alt="default"
              />
              <div class="card-body">{{ other.name }}</div>
            </div>
            }@if (other.pokemonsprites[0].sprites.front_shiny) {
            <div class="card" style="width: 100px">
              <img
                class="card-img-top"
                [src]="other.pokemonsprites[0].sprites.front_shiny"
                alt="shiny"
              />
              <div class="card-body">{{ other.name }} shiny</div>
            </div>
            } }
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row mb-1">
    <div class="col-12">
      <div class="card">
        <div class="card-body">
          <h3>Evolution chain</h3>
          <div class="d-flex flex-wrap justify-content-evenly">
            @for (evolution of evolutionTree; track $index) {
            <div class="card mb-1">
              <div class="card-body">
                <div class="d-flex flex-wrap align-items-center">
                  @for (node of evolution; track $index) { @if (node.evolvesFrom
                  == null) {
                  <div class="text-center" style="width: 100px">
                    <img
                      class="card-img-top"
                      [src]="node.sprite"
                      alt="default"
                    />
                    <div>{{ node.pokemon }}</div>
                  </div>
                  } @else {
                  <div class="d-flex flex-column">
                    @for (method of node.methods; track $index) {
                    <div
                      class="text-center d-flex flex-column"
                      style="width: 150px"
                    >
                      @if (method.trigger) {
                      <small class="text-sm"
                        >trigger: {{ method.trigger }}</small
                      >
                      }@if (method.minLevel) {
                      <small class="text-sm"
                        >level: {{ method.minLevel }}</small
                      >
                      } @if (method.item) {
                      <div
                        class="d-flex align-items-center justify-content-center"
                      >
                        <img
                          [src]="method.item.sprite"
                          [alt]="method.item.name"
                        />
                        <small class="text-sm">
                          {{ method.item.name }}
                        </small>
                      </div>
                      }@if (method.move) {
                      <small class="text-sm">move: {{ method.move }}</small>
                      } @if (method.minAffection) {
                      <small class="text-sm"
                        >affection: {{ method.minAffection }}</small
                      >
                      } @if (method.minBeauty) {
                      <small class="text-sm"
                        >beauty: {{ method.minBeauty }}</small
                      >
                      } @if (method.minHappiness) {
                      <small class="text-sm"
                        >happiness: {{ method.minHappiness }}</small
                      >
                      } @if (method.timeOfDay) {
                      <small class="text-sm"
                        >time: {{ method.timeOfDay }}</small
                      >
                      } @if (method.gender) {
                      <small class="text-sm">gender: {{ method.gender }}</small>
                      } @if (method.location) {
                      <small class="text-sm"
                        >{{ method.location.name }} ({{
                          method.location.generation
                        }})</small
                      >
                      }
                    </div>
                    }
                  </div>
                  <!-- <div
                    class="text-center d-flex flex-column"
                    style="width: 150px"
                  >
                    @if (node.minLevel) {
                    <small class="text-sm">level: {{ node.minLevel }}</small>
                    } @if (node.item) {
                    <div class="d-flex align-items-center justify-content-center">
                      <img [src]="node.itemSprite" [alt]="node.item" />
                      <small class="text-sm">
                        {{ node.item }}
                      </small>
                    </div>
                    } @if (node.minAffection) {
                    <small class="text-sm">affection: {{ node.minAffection }}</small>
                    } @if (node.minBeauty) {
                    <small class="text-sm">beauty: {{ node.minBeauty }}</small>
                    } @if (node.minHappiness) {
                    <small class="text-sm">happiness: {{ node.minHappiness }}</small>
                    } @if (node.timeOfDay) {
                    <small class="text-sm">time: {{ node.timeOfDay }}</small>
                    } @if (node.gender) {
                    <small class="text-sm">gender: {{ node.gender }}</small>
                    } @if (node.location) {
                    <small class="text-sm">location: {{ node.location }}</small>
                    }
                  </div> -->
                  <div class="text-center" style="width: 100px">
                    <img
                      class="card-img-top"
                      [src]="node.sprite"
                      alt="default"
                    />
                    <span>{{ node.pokemon }}</span>
                  </div>
                  } }
                </div>
              </div>
            </div>
            }
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
}
