/* You can add global styles to this file, and also import other style files */
/* Importing Bootstrap SCSS file. */
@use "bootstrap/scss/bootstrap";

html {
  body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;

    .container-xl {
      max-width: 1500px !important;
    }

    .container-xxl {
      max-width: 1700px !important;
    }

    .dropdown-item {
      cursor: pointer;
    }

    .img-md-50 {
      width: 100%;
      max-width: 100%;
    }
    @media (min-width: 768px) {
      .img-md-50 {
        width: 50%;
      }
    }

    .text-sm {
      font-size: small;
    }
  }
}
